.input,
input[type="text"],
input[type="url"] {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px 12px;
    width: 100%;
    font-size: 14px;
    line-height: 1.3;
    background: var(--input-bg);
    color: var(--fg);
}

input.input.project {
    font-weight: bold;
    border: 0px;
    background-color: var(--project-input-bg);
}

.field {
    display: flex;
    flex-direction: column;
}

/* Ensure URI is full collumn */
.field-uri .input {
    width: 100%;
}

.label {
    font-size: 12px;
    font-weight: 600;
    color: var(--muted);
    margin-bottom: 6px;
}